body{
    text-align: center;
    font-family: Rubik, sans-serif;
    margin: 0;
    position: relative;
}
hr{
    border-style: dotted none none;
    width: 5%;
    border-width: 5px;
    border-color: rgba(105, 105, 105, 0.363);
    margin: 50px auto;

}
header{
    padding-top: 100px;
    position: relative;
    
}
h1{
    font-family: 'Ephesis', cursive;
    font-size: 50px;
    color:rgba(76, 76, 235, 0.801);

}
h2{
    font-family: 'Dancing Script', cursive;
    color:rgba(76, 76, 235, 0.801);

}
h3{
    color:rgba(76, 76, 235, 0.801);
}
body{
    background-color: #FEF9EF;

}
.tryhackmeimage{
    border-style: none;
    border-radius: 20%;
}

.githubimg{
    border-style: none;
    border-radius: 20%;
}
.contact{
    background-color:#a2d2ffcb;
    padding: 1%;
}

.links{
    padding: 0 30px ;   
    
}
.learning{
    width: 50%;
    margin: auto;
    text-align: left;
    padding: 100px;
}
.codeimg{
    width: 15%; 
    float: right; 
}
.webimg{
    width: 15%; 
    float: left;
    margin-right: 50px;   
}
.hackimg{
    width: 15%; 
    float: right; 
}
.gitimg{
    width: 15%; 
    float:left; 
    margin-right: 50px;
}
.code{
    padding: 50px;
     
}

.web{
    padding: 50px;

}

.hack{
    padding: 50px;


}

.git{
    padding: 50px;

}
.cloud{
    position: absolute;
}
.cloud1{
    left: 300px; 
    top: 350px;
}
.cloud2{
   right: 300px;
   top: 150px;
   
}
.rainbow{
    position: absolute;
    right:43%;
    
}
